body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

code {
	background-color: #EEF;
	font-size: 15px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
}

article img {
	max-width: 100%;
}

.introduction {
	background-color: #F4F4BE;
	border: 2px solid #000000;
	text-align: center;
	margin: auto;
}

.lectures-list {
	overflow: auto;
	max-width: 976px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.lecture-item {
	padding: 2px;
	float: left;
}

embed.video {
	height: 452px;
	width: 100%;
}

.lecture-note {
	border: 1px solid #000000;
}

.footer {
	font-size: 12px;
	margin-top: 20px;
}
