---
layout: default
dsq_id: main
---

<h1>{{ site.title }}</h1>
<div class="introduction"><p>{{ site.description | newline_to_br }}</p></div>
<p>一个早就不应该中二的少年作出的为了普及电脑知识，推广 ONScripter ，<b>顺便</b>刷人气的系列视频教程。</p>
<br><br>

<div class="lectures-list">
	{% for lecture in site.data.lectures %}
	<div class="lecture-item">
		<a href="{% if lecture.url %}{{ lecture.url }}{% else %}{{ site.baseurl }}/lectures/{{ lecture.number }}.html{% endif %}">
			<b>{{ lecture.title }}</b><br>
			<img src="{{ site.baseurl }}/image/cover-{{ lecture.number }}.png" alt="封面" width="240" height="150" />
		</a>
	</div>
	{% endfor %}
</div>
